@media (min-width: 90rem){
    .container{
        min-width: 400px;
        min-height: 520px;
    }
}

/* LG --> SMALL LAPTOPS: 1024px - 1280px */
@media (max-width: 72rem){
    /* 1150px / 16px = 71.875rem */
    /* 72 * 16px = 1152px */

    html{
        /* 9px / 16px = 0.5625 */
        font-size: 56.25%;
    }

    .container{
        width: 50%;
        height: min-content;
    }
}

/* MD --> TABLETS: 768px - 1024px */
@media (max-width: 51rem){
    /* 815px / 16px = 50.9375 */
    /* 51 * 160px = 816px */

    html{
        /* 8px / 16px = 0.5 */
        font-size: 50%;
    }

    .container{
        width: 50%;
    }
}


/* XS --> PHONE POTRAIT: <576px */
@media (max-width: 34rem){
    /* 530px / 16px = 33.125 */
    /* 34 * 16px = 544px */

    html{
        /* 6px / 16px = 0.375 */
        font-size: 37.5%;
    }

    body{
        background: url(images/pattern-background-mobile.svg) no-repeat top;
        background-size: 100%;
        background-color: var(--blue100);
    }

    .container{
        min-width: 270px;
        min-height: 340px;
    }
}

/* PHONE LANDSCAPE */
@media (max-width: 740px) and (min-width: 720px)
       and (max-height: 345px) and (min-height: 330px){
    /* 680px / 16px = 42.5rem */
    /* 43 * 16px = 688px */

    html{
        /* 7px / 16px = 0.4375 */
        font-size: 25%;
    }

    .container{
        width: 25%;
        height: 70%;
    }
}   