@media (min-width: 72rem){
    .container{
        min-width: 500px;
        min-height: 600px;
    }
}

/* LG --> SMALL LAPTOPS: 1024px - 1280px */
@media (max-width: 72rem){
    /* 1150px / 16px = 71.875rem */
    /* 72 * 16px = 1152px */

    html{
        /* 9px / 16px = 0.5625 */
        font-size: 56.25%;
    }

    .container{
        width: 50%;
        height: max-content;
        padding-bottom: 2rem;
    }
}

/* MD --> TABLETS: 768px - 1024px */
@media (max-width: 51rem){
    /* 815px / 16px = 50.9375 */
    /* 51 * 160px = 816px */

    html{
        /* 8px / 16px = 0.5 */
        font-size: 50%;
    }

    .container{
        width: 50%;
    }
}

/* SM --> PHONE LANDSCAPE: 576px - 768px */
@media (max-width: 43rem){
    /* 680px / 16px = 42.5rem */
    /* 43 * 16px = 688px */

    html{
        /* 7px / 16px = 0.4375 */
        font-size: 43.75%;
    }
}

/* XS --> PHONE POTRAIT: <576px */
@media (max-width: 34rem){
    /* 530px / 16px = 33.125 */
    /* 34 * 16px = 544px */

    html{
        /* 6px / 16px = 0.375 */
        font-size: 37.5%;
    }

    body{
        background: url(images/pattern-background-mobile.svg) no-repeat top;
        background-size: 100%;
        background-color: var(--blue100);
    }
}