@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* -------------------- GLOBAL STYLES -------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* 10px / 16px = 0.625 */
    font-size: 62.5%;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;

    background:  url(images/pattern-background-desktop.svg) no-repeat top;
    background-size: 100%;

    background-color: var(--blue100);
}

.container{
    max-width: 500px;
    max-height: 600px;
    width: 25%;
    height: 83%;
    margin: 0 auto;

    background-color: white;
}

:root{
    /* font weights */
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 900;

    /* font family */
    --font-family: 'Red Hat Display';

    /* primary colors */
    --blue100: hsl(225, 100%, 94%);
    --blue700: hsl(245, 75%, 52%);

    /* neutral colors */
    --blue50: hsl(225, 100%, 98%);
    --gray600: hsl(224, 23%, 55%);
    --blue950: hsl(223, 47%, 23%);
}

h2{
    font-size: 2.5rem;
    font-weight: var(--font-weight-extrabold);
    color: var(--blue950);
}

p{
    font-size: 1.25rem;
    color: var(--gray600);
}

.cancel a{
    font-size: 1.2rem;
    color: var(--gray600);
}




/* -------------------- COMPONENTS -------------------- */
.payment{
    background-color: var(--blue700);
    width: 100%;
    text-align: center;
    padding: 1.5rem;

    border-radius: 1rem;

    color: var(--blue100);

    font-size: 1.1rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 2.5rem;

    box-shadow: 0px 4px 12px rgba(56, 41, 224, 0.7);
}


.price-card a:hover{
    color: hsla(245, 75%, 52%, 0.668);
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.payment:hover{
    background-color: hsla(245, 75%, 52%, 0.668);
    cursor: pointer;
    transition: 0.5s;
}

.cancel a:hover{
    color: var(--blue950);
    transition: 0.5s;
}

.attribution a:hover{
    font-weight: var(--font-weight-extrabold);
    transition: 0.5s;
}



/* -------------------- CONTAINER -------------------- */
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 2rem;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.container .image-container{
    width: 100%;
}

.container .image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.description{
    width: 80%;

    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin-bottom: 1.5rem;
}

p{
    max-width: 25rem;
    width: 80%;
    text-align: center;

    margin-bottom: 2rem;
}

.price-card{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--blue50);

    padding: 1.7rem;
    border-radius: 1rem;

    margin-bottom: 2rem;
}

.icon-plan{
    display: flex;
    align-items: center;
    gap: 1.5rem;    
}

.price-card img{
    width: 4rem;
}

.pricing{
    display: flex;
    flex-direction: column;

    gap: 0.3rem;
}

.pricing h4{
    font-size: 1.2rem;
    font-weight: var(--font-weight-extrabold);
    color: var(--blue950);
}

.pricing span{
    font-size: 1.1rem;
    font-weight: var(--font-weight-bold);
    color: var(--gray600);
}

.price-card a{
    font-size: 1.2rem;
    color: var(--blue700);
    font-weight: var(--font-weight-extrabold);

    text-decoration: underline;
}

.cancel a{
    font-weight: var(--font-weight-extrabold);
    text-decoration: none;
}



/* -------------------- FOOTER -------------------- */
.attribution{
    position: fixed;
    bottom: 0;

    width: 100%;
    margin: 0 auto;
}

.attribution a{
    text-decoration: underline;
    letter-spacing: 0.05rem;
}